#a{
    background-color: lightcoral;
    color: black;
height: 60px;
}
#b{
    height: 450px;
    width: 500px;
}

#c{
    height: 450px;
    width: 500px;
}
#d{
    height: 450px;
    width: 500px;
}

#e{
    height: 450px;
    width: 500px;
}

#f{
    height: 450px;
    width: 500px;
}

#g{
    height: 450px;
    width: 500px;
}

#h{
    height: 450px;
    width: 500px;
}

#i{
    height: 450px;
    width: 500px;
}

#j{
    height: 450px;
    width: 500px;
}
.card-title{
    height: 40px;
    width: 40px;
}